/* ====== 游戏界面：侧边栏样式 ====== */
.tetris-screen-aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 1vh 0;
  overflow: hidden;
}
