@import './variable.less';

.aside {
  display: flex;
  flex-direction: column;
  gap: .5vh;
  border-left: 3px solid @gray;
  justify-content: space-between;
  align-items: center;
  max-width: 18vw;
}
