html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: url(./img/bg.jpg);
  background-size: cover;
}
