@import './variable.less';

/* ====== 容器样式 ====== */
.tetris-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.tetris-screen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  border: 3px solid @white;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
