@import './variable.less';

/* ====== 游戏界面：侧边栏子面板文字段落样式 ====== */
.panel-text {
  font-size: 1.75vh;
  line-height: 1.4;
  color: @white;
  text-shadow: 1px 1px 0 @black;
  white-space: nowrap;
  margin: 0.5vh 0;
}
