@import './variable.less';

/* ====== 基础字体函数 ====== */
.font-base() {
  font-family: @base-font-family;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* ====== 文本选择函数 ====== */
.user-select {
  /* 标准：禁止选中 */
  user-select: none;
  /* Safari / Chrome */
  -webkit-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* IE/Edge */
  -ms-user-select: none;
  /* 禁止长按弹出菜单（手机） */
  -webkit-touch-callout: none;
}
