/* ====== 字体常量 ====== */
@base-font-family: 'Press Start 2P';

/* ====== 颜色常量 ====== */
@white: #fff;
@black: #333;
@rgba_black: rgba(0, 0, 0, 0.9);
@gray: #ccc;
@red: #e74c3c;
@teal: #3498db;
@yellow: #ff0;
@green: #0afa04;
@background-color: #2a46a9;
